.button {
  cursor: pointer;
  background: #5f9ea0;
  color: #ffffff;
  border: 1px solid #85e4e8;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
}

.button:active {
  background: #85e4e8;
  border: 1px solid #5f9ea0;
}
