.modal {
  background: #c7c7c7;
  border: 2px solid #3c3c3c;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: max-content;
  height: max-content;
  transform: translate(-50%, -50%);
}
.close {
  cursor: pointer;
  align-self: flex-end;
  font-family: sans-serif;
  margin: 5px;
  font-size: 24px;
  font-weight: 700;
  color: #525252;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.formElement {
  margin: 10px;
  font-size: 20px;
}

.input {
  margin-left: 5px;
  font-size: 16px;
}

.select {
  margin-left: 5px;
  font-size: 16px;
}

.button {
  cursor: pointer;
  background: #5f9ea0;
  color: #ffffff;
  border: 1px solid #85e4e8;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  align-self: flex-end;
}

.button:hover {
  background: #85e4e8;
  border: 1px solid #5f9ea0;
}
